</head>

<body>
    <header>
        <nav>
            <ul>
                <li><a href="/" class="<%= path === "/" ? "active" : "" %>">Users</a></li>
                <li><a href="/add-user" class="<%= path === "/add-user" ? "active" : "" %>">Add User</a></li>
            </ul>
        </nav>
    </header>